In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("NY-House-Dataset.csv")
print(df.head())

                                         BROKERTITLE                TYPE  \
0        Brokered by Douglas Elliman  -111 Fifth Ave      Condo for sale
1                                Brokered by Serhant      Condo for sale
2                             Brokered by Sowae Corp      House for sale
3                                Brokered by COMPASS      Condo for sale
4  Brokered by Sotheby's International Realty - E...  Townhouse for sale

       PRICE  BEDS       BATH  PROPERTYSQFT  \
0     315000     2   2.000000        1400.0
1  195000000     7  10.000000       17545.0
2     260000     4   2.000000        2015.0
3      69000     3   1.000000         445.0
4   55000000     7   2.373861       14175.0

                                             ADDRESS                    STATE  \
0                               2 E 55th St Unit 803       New York, NY 10022
1  Central Park Tower Penthouse-217 W 57th New Yo...       New York, NY 10019
2                                   620 Sinclair Ave  Staten Island, NY 10312
3                            2 E 55th St Unit 908W33      Manhattan, NY 10022
4                                        5 E 64th St       New York, NY 10065

                                        MAIN_ADDRESS  \
0             2 E 55th St Unit 803New York, NY 10022
1  Central Park Tower Penthouse-217 W 57th New Yo...
2            620 Sinclair AveStaten Island, NY 10312
3         2 E 55th St Unit 908W33Manhattan, NY 10022
4                      5 E 64th StNew York, NY 10065

  ADMINISTRATIVE_AREA_LEVEL_2  LOCALITY      SUBLOCALITY       STREET_NAME  \
0             New York County  New York        Manhattan  East 55th Street
1               United States  New York  New York County          New York
2               United States  New York  Richmond County     Staten Island
3               United States  New York  New York County          New York
4               United States  New York  New York County          New York

          LONG_NAME                                  FORMATTED_ADDRESS  \
0   Regis Residence  Regis Residence, 2 E 55th St #803, New York, N...
1  West 57th Street             217 W 57th St, New York, NY 10019, USA
2   Sinclair Avenue     620 Sinclair Ave, Staten Island, NY 10312, USA
3  East 55th Street               2 E 55th St, New York, NY 10022, USA
4  East 64th Street               5 E 64th St, New York, NY 10065, USA

    LATITUDE  LONGITUDE
0  40.761255 -73.974483
1  40.766393 -73.980991
2  40.541805 -74.196109
3  40.761398 -73.974613
4  40.767224 -73.969856

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

In [8]:
df.describe()

,PRICE,BEDS,BATH,PROPERTYSQFT,LATITUDE,LONGITUDE
count,4.801000e+03,4801.000000,4801.000000,4801.000000,4801.000000,4801.000000
mean,2.356940e+06,3.356801,2.373861,2184.207862,40.714227,-73.941601
std,3.135525e+07,2.602315,1.946962,2377.140894,0.087676,0.101082
min,2.494000e+03,1.000000,0.000000,230.000000,40.499546,-74.253033
25%,4.990000e+05,2.000000,1.000000,1200.000000,40.639375,-73.987143
50%,8.250000e+05,3.000000,2.000000,2184.207862,40.726749,-73.949189
75%,1.495000e+06,4.000000,3.000000,2184.207862,40.771923,-73.870638
max,2.147484e+09,50.000000,50.000000,65535.000000,40.912729,-73.702450

In [9]:
df.columns

Index(['BROKERTITLE', 'TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT',
       'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2',
       'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME',
       'FORMATTED_ADDRESS', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

data doesnt have any missing values

In [10]:
df.nunique()

BROKERTITLE                    1036
TYPE                             13
PRICE                          1274
BEDS                             27
BATH                             22
PROPERTYSQFT                   1445
ADDRESS                        4582
STATE                           308
MAIN_ADDRESS                   4583
ADMINISTRATIVE_AREA_LEVEL_2      29
LOCALITY                         11
SUBLOCALITY                      21
STREET_NAME                     174
LONG_NAME                      2731
FORMATTED_ADDRESS              4550
LATITUDE                       4196
LONGITUDE                      4118
dtype: int64

data cleaning

In [11]:
numerical_columns = df.select_dtypes(include=["int64", "float64"]).columns

df_num = df[numerical_columns]

print(df_num.isnull().sum())

PRICE           0
BEDS            0
BATH            0
PROPERTYSQFT    0
LATITUDE        0
LONGITUDE       0
dtype: int64

In [12]:
X = df_num.drop(columns=["PRICE"])
y = df_num["PRICE"]

In [3]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'